.nav-header li{
    background-color: black;
}
.bg-color-custom-1 {
    background-color: #f6f6f6;
}
.bg-color-custom-2 {
    background-color: #05aecc !important;
}
.bg-color-custom-3 {
    background-color: #f0626e !important;
}
.bg-color-custom-4 {
    background-color: rgba(53, 41, 79, 0.6) !important;
}
.bg-color-custom-4 {
    background-color: #3c3c3c !important;
}
.bg-color-custom-5 {
    background-color: #434343 !important;
}
.text-color-custom-3 {
    color: #f0626e !important;
}
.text-color-custom-2 {
    color: #05aecc !important;
}
.nav-header-1 .nav-link {
    padding-left: 10px;
    padding-right: 10px;
}
.logo img {
    width: 120px;
}
.fs-13 {
    font-size: 13px;
}
@media screen and (max-width: 780px) {
    .logo {
        justify-content: center !important;
    } 
    .nav-header-1 ul {
        justify-content: center !important;
    }
}
.logo {
    justify-content: flex-end;
}
.nav-header-1 ul {
    justify-content: flex-end;
}
.nav-categories a:focus{
    background-color: white !important;
    color: #f0626e !important;
}
.nav-header-1 a:hover{
    color: #f0626e !important;
}
.nav-reg a:hover {
    background-color: white !important;
}
.mhs-100 {
    max-height: 620px;
}
.inp .input-group-text {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    font-size: 41px;
}
.inp input {
    border-radius: 0;
    box-shadow: 0 6px 15px rgb(0 0 0 / 15%);
    text-align: center;
}
.inp input::placeholder {
    text-align: center;
}
.card-1-text {
    position: absolute;
    bottom: 56px;
    background-color: rgba(53, 41, 79, 0.6);
    max-width: 391px;
}
.card-2-text {
    position: absolute;
    bottom: 14px;
    width: 100%;
    max-width: 391px;
}
.card-3-text {
    position: absolute;
    bottom: 9px;
    background-color: rgba(53, 41, 79, 0.6);
    max-width: 290px;
    font-size: 13px;
}
.card-4-text {
    position: absolute;
    bottom: 25px;
    right: 0;
    background-color: rgba(53, 41, 79, 0.6);
    max-width: 290px;
    font-size: 13px;
    opacity: 0;
    transition: .8s;
}
.card-5-text {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(53, 41, 79, 0.6);
    max-width: 290px;
    font-size: 13px;
    opacity: 0;
    transition: .8s;
}
.card-5-text {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(53, 41, 79, 0.6);
    max-width: 290px;
    font-size: 13px;
    opacity: 0;
    transition: .8s;
}
.card-6-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 290px;
    width: 100%;
    opacity: 0;
    transition: .8s;
}
.card-7-text {
        position: absolute;
        top: 14px;
        left: 0;
        max-width: 290px;
        font-size: 20px;
}
.card-2-text b {
    position: relative;
    top: 7px;
}
.text-img {
    position: relative;
}
.text-img:hover .card-4-text, .text-img:hover .card-5-text, .text-img:hover .card-6-text {
    opacity: 1;
}
.text-imgs:hover img {
    transition: .8s;
    filter: blur(5px);
}
.controll-block-1 a:hover {
    transition: .8s;
    background-color: #05aecc !important;
}
.controll-block-2 a:hover {
    transition: .8s;
    background-color: #f0626e !important;
}
.controll-block-1 i {
    font-size: 20px;
}
.price {
    font-size: 22px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product a:hover {
    color: white;
    transition: .8s;
    background-color: #f0626e !important;
}
.product-2 a:hover {
    color: white;
    transition: .8s;
    background-color: #05aecc !important;
}
.whoweare button {
    width: 500px;
    font-size: 21px;
}